body {
  background-color: lightblue;
  margin: 0;
}

.cont {
  text-align: left;
  width: 800px;
  display:inline-block;
}

.sidebar {
  height: 200px;
  width: 350px;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 40px;
  background-color: lightblue;
}

.sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
}


/* .container {
  max-width: auto;
  margin: 1rem 2rem;
} */

.right-column {
  margin-left: 30px;
  width: 20%;
  /* background-color: #FFFFCC; */
  float: right;
}

/* .header {
  font-size: x-large;
} */

.left-column {
  margin-left: 30px;
  width: 75%;
  /* background-color: purple; */
  float: left;
  justify-self: left;
}

.cardGrid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  /* grid-template-columns: 300px 300px 300px; */
  gap: 20px;
}

.card {
  display:inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid black;
  transform-style: preserve-3d;
  /* width: 150px; */
  height: 200px;
  width: 400px;
  transition: 200ms;
  transform: perspective(1000px) rotateX(var(--rotate, 0));
  cursor: pointer;
  background-color: white;
}

/* card:hover {
  box-shadow: violet;
} */

.card.toggle {
  --rotate: 180deg;
}

.card .question,
.card .answer {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .answer {
  transform: rotateX(180deg);
}

.box {
  width: 280px;
  height: 20px;
}

form {
  margin: 10px 10px;
  background-color: #f7f7f9;
  border: 3px solid #f1f1f1;
  width: 300px;
  height: 300px;
  padding-left: 10px;
}

button {
  background-color: #5451ee;
  color: white;
  margin: 15px 0;
  margin-left: 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  /* margin: 0 20px; */
}

.submit {
  float: right;
  margin-right: 15px;
}

label {
  font-size: 20px;
  font-weight: bold;
}
